@model _19Jul2020_1.Models.Employee
@{
    ViewBag.Title = "Index";
    
}
<form action="/Employee/Edit" method="post">
   
    <div class="row">
        <div class="col-md-6">
            @Html.HiddenFor(x=>x.Id)
            
            <div class="form-group">
                <label>Name</label>
                @Html.DisplayFor(x=>x.Name,new {@class= "form-control"})

            </div>

        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label>Salary</label>
                @Html.DisplayFor(x => x.Salary, new { @class = "form-control" })

            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">

            <div class="form-group">
                <label>Email</label>
                @Html.DisplayFor(x => x.Email, new { @class = "form-control" })

            </div>
            
        </div>
        <div class="col-md-6">
            <div class="form-group">
               

            </div>
        </div>
    </div>
    <div class="row">
        
    </div>
</form>