
@{
    ViewBag.Title = "Out";
}



<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <form action="/Attendance/PostOut" method="post">
            <h2>Punch-out</h2>
            <div class="form-group">
                <label>Date</label>
                <label class="form-control">@DateTime.Now.ToString("dddd, dd MMMM yyyy")</label>
            </div>

            <div class="form-group">
                <label>Time</label>
                <label class="form-control">@DateTime.Now.ToString("h:mm tt")</label>
            </div>

            <div class="form-group">
                <button type="submit" id="btnSubmit" class="btn btn-primary">Out</button>
            </div>


        </form>



    </div>
    <div class="col-md-4"></div>

</div>

@*<script type="text/javascript">

        $(document).ready(function () {
        var message='@ViewBag.PunchInMessage';
        if(message)
        {
            $('#snackbar').text(message);
            $('#snackbar').addClass('show');

            setTimeout(function () {
                $('#snackbar').removeClass('show');
            }, 1000);



        }
        });

    </script>*@


<script type="text/javascript">

    $(document).ready(function () {

        $('#btnSubmit').click(function (e) {

            e.preventDefault();

            $.ajax(
                {
                    type: "POST",
                    url: "/Attendance/PostOut",
                    data: {},
                    //contentType: "application/json; charset=utf-8",
                    //dataType: "json",
                    success: function (result) {

                        $('#snackbar').text(result);
                        $('#snackbar').addClass('show');

                        setTimeout(function () {
                            $('#snackbar').removeClass('show');
                        }, 1000);
                    }
                });

        });

    });

</script>